@charset "utf-8";

@import "colors.scss";
@import "input.scss";
@import "headings.scss";
@import "lists.scss";
@import "paragraphs.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: #79ffe1;
  color: #000;
}
