.z-badge {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  min-height: 14px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  background: rgb(255, 0, 0);
  padding: 0px 4px;
  border-radius: 7px;

  &.with-text {
    font-weight: normal;
    text-transform: uppercase;
    min-height: 20px;
    padding: 0px 10px;
    border-radius: 20px;
    line-height: 20px;
  }

  &.black {
    background: black;
  }

  &.red {
    background: rgb(255, 0, 0);
  }

  &.dark {
    color: rgb(0, 0, 0);
    background: white;
  }
}
