@mixin set-div($mw, $setFlex: false) {
  div {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    min-height: $mw;

    @if ($setFlex == true) {
      flex-flow: row wrap;
    }

    @else {
      font-size: 12px;
    }
  }
}

@mixin set-borders-y($color) {
  border-bottom: 1px solid $color;
  border-top: 1px solid $color;
}

@mixin set-border-r($color) {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid $color;
}

@mixin set-border-l($color) {
  border-left: 1px solid $color;
  border-radius: 4px 0 0 4px;
}

.z-table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
  border-color: grey;
  display: table;

  th {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    vertical-align: top;
    padding: 0 10px;
    background: rgb(250, 250, 250);
  }

  th,
  td {
    text-align: left;
    vertical-align: top;
    padding: 0 10px;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;

    th {
      @include set-borders-y(rgb(234, 234, 234));
      @include set-div(40px);
    }

    th:nth-child(1) {
      @include set-border-l(rgb(234, 234, 234));
    }

    th:last-child {
      @include set-border-r(rgb(234, 234, 234));
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }

    td {
      color: rgb(68, 68, 68);
      font-size: 14px;

      @include set-div(50px, true);

      img {
        width: 30px;
        height: 30px;
      }
    }

    tr:not(:last-child) td {
      border-bottom: 1px solid rgb(234, 234, 234);
    }
  }

  &.dark {
    thead {
      th {
        color: rgb(153, 153, 153);
        background: rgb(17, 17, 17);

        @include set-borders-y(rgb(51, 51, 51));
      }

      th:nth-child(1) {
        @include set-border-l(rgb(51, 51, 51));
      }

      th:last-child {
        @include set-border-r(rgb(51, 51, 51));
      }
    }

    tbody {
      td { /* stylelint-disable-line */
        color: rgb(204, 204, 204);
        font-size: 14px;
      }

      td:nth-child(1) {
        border-left: 1px solid transparent;
      }

      td:last-child {
        border-right: 1px solid transparent;
      }

      tr:not(:last-child) td {
        border-bottom: 1px solid rgb(51, 51, 51);
      }
    }
  }
}
