.z-video-card {
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0 30px 60px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  border-radius: 5px;
  overflow: hidden;

  div {
    main {
      position: relative;
      cursor: pointer;
      background: rgb(0, 0, 0);

      .image {
        filter: grayscale(100%);
        transition: box-shadow 150ms ease-in 0s, filter 150ms ease-in 0s;
        overflow: hidden;

        figure {
          display: block;
          text-align: center;
          margin: 0;

          main {
            max-width: 100%;
            margin: 0 auto;

            .container {
              display: flex;
              justify-content: center;
              position: relative;

              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }

      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
        margin-top: -15px;

        svg {
          opacity: 0.85;
          transition: opacity 150ms ease-in 0s;
          shape-rendering: crispEdges;
        }
      }
    }

    &:hover .image {
      filter: grayscale(0%);
    }
  }

  .details {
    padding: 15px 20px;

    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      overflow: hidden;
    }

    p {
      color: rgb(153, 153, 153);
      font-size: 14px;
      line-height: 24px;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      text-decoration: none;
      overflow: hidden;
    }
  }

  &.dark .details h4 {
    color: rgb(255, 255, 255);
  }
}
