@mixin set-text($weight: 400) {
  font-weight: $weight;
  font-size: 14px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  &.dark {
    color: rgb(255, 255, 255);
  }
}

.text-regular {
  @include set-text();
}

.text-bold {
  @include set-text(600);
}

.text-code {
  @include set-text();

  code {
    color: rgb(212, 0, 255);
    font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size: 0.9em;
    white-space: pre-wrap;
  }

  &.dark code {
    color: rgb(80, 227, 194);
  }
}
